:root {
  --ion-color-primary: #141514;
  --ion-color-primary-rgb: 20, 21, 20;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #121212;
  --ion-color-primary-tint: #2c2c2c;

  --ion-color-secondary: #414441;
  --ion-color-secondary-rgb: 65, 68, 65;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #393c39;
  --ion-color-secondary-tint: #545754;

  --ion-color-tertiary: #646864;
  --ion-color-tertiary-rgb: 100, 104, 100;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #585c58;
  --ion-color-tertiary-tint: #747774;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-light: #c7c9c6;
  --ion-color-light-rgb: 199, 201, 198;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #afb1ae;
  --ion-color-light-tint: #cdcecc;

  --ion-color-medium: #939493;
  --ion-color-medium-rgb: 147, 148, 147;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #818281;
  --ion-color-medium-tint: #9e9f9e;

  --ion-color-dark: #141514;
  --ion-color-dark-rgb: 20, 21, 20;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #121212;
  --ion-color-dark-tint: #2c2c2c;

}