ion-card {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-4px);
  }
}
.appointment-card {
  border-radius: 18px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding-bottom: 10px;
  margin-bottom: 18px;
}

ion-card-header {
  padding-bottom: 6px !important;
}

ion-card-title {
  font-weight: 700;
  font-size: 1.1rem;
  color: #222;
}

ion-card-subtitle {
  font-size: 0.85rem;
  color: #666;
}

.row {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 5px 0;
  font-size: 0.9rem;
  color: #444;
}

.row ion-icon {
  font-size: 18px;
  color: #6e6e6e;
}

/* Tipo de servicio */
.type {
  margin-top: 10px;
  color: var(--ion-color-primary);
  font-weight: 600;
}

.mt {
  margin-top: 12px;
}
