<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Home</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
      <!-- <ion-button fill="clear">
        <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
      </ion-button> -->
      <date-filter (rangeSelected)="onRangeSelected($event)"></date-filter>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-content">
  <!-- Filtro de fecha -->
  <!-- <div class="filter-container">
    <date-filter (rangeSelected)="onRangeSelected($event)"></date-filter>
  </div> -->

  <!-- Searchbar -->
  <div class="search-container">
    <app-search-bar
      placeholder="Buscar productos..."
      [debounce]="500"
      (searchChange)="onSearch($event)"
      (searchClear)="onClearSearch()"
    ></app-search-bar>
  </div>

  <!-- Grid de cards -->
  <ion-grid fixed>
    <ion-row>
      <ion-col
        size="12"
        size-sm="6"
        size-md="4"
        size-lg="3"
        *ngFor="let ap of appointments"
      >
        <app-card-item
          [appointment]="ap"
          (itemClick)="openAppointment(ap)"
        ></app-card-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
