<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Componente Header personalizado -->
  <app-header></app-header>

  <!-- Contenido principal -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let item of items">
        <app-card-item
          *ngFor="let ap of appointments"
          [appointment]="ap"
          (itemClick)="openAppointment(ap)"
        ></app-card-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- FAB Button -->
  <ion-button
    expand="block"
    color="primary"
    class="ion-margin"
    style="
      position: fixed;
      bottom: 20px;
      right: 20px;
      width: 56px;
      height: 56px;
      border-radius: 50%;
    "
  >
    <ion-icon name="add"></ion-icon>
  </ion-button>
</ion-content>
